.hero {
    background-image: linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ), url("/img/Hero-Todas.jpg");

    background-size: cover;
    background-position: center;
    min-height: 550px;
    display: flex;
    align-items: center;
}

.about-hero {
    background-image: linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
        ), url("/img/Hero-Todas.jpg");

    background-size: cover;
    background-position: center;
    min-height: 450px;
    display: flex;
    align-items: center;
}