<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{general/fragmentos :: head}"/>
    <body>
        <header th:replace="~{general/fragmentos :: header}"/>
        <div class="row my-5">
            <div class="col-md-6 offset-md-3 text-center">
                <div class="card border-danger">
                    <div class="card-header bg-danger text-white">
                        <h2><i class="fas fa-ban"></i> 403 - Acceso Denegado</h2>
                    </div>
                    <div class="card-body">
                        <p class="lead">No tienes permisos para acceder a esta página.</p>
                        <a th:href="@{/}" class="btn btn-secondary"><i class="fas fa-home"></i> Volver al inicio</a>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{general/fragmentos :: footer}"/>
    </body>
</html>
